@import url('font/stylesheet.css');
body {
    font-family: Circe;
    color: #000000;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Circe;
    font-weight: 800;
}
img {
    max-width: 100%;
}
main {
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:#ffffff;
    opacity: 0.9;
}
.fullscreen-section {
    width: 100%;
    height: 100vh;
}
.row.align-items-center {
    height: 100%;
}
.section-heading {
    font-size: 4rem;
    line-height: 1;
}
.tab-heading,
.carousel-item-heading,
.carousel-item-year {
    font-size: 2.25rem;
}
.carousel-item-heading,
.carousel-item-year {
    font-weight: 800;
}
.carousel-item-year {
    line-height: 1.4;
}
.carousel-item-heading {
    line-height: 1.2;
}
.carousel-item-month {
    font-size: 0.88rem;
    color: #C7C7C7;
    font-weight: 800;
    /* margin-bottom: 0; */
}
.tab-subheading {
    font-size: 1.75rem;
}
.blue-text {
    color: #41B3D6;
}
p,
.tab-pane {
    font-size: 1.13rem;
    line-height: 1.6;
}
.btn {
    font-size: 1.13rem;
    font-weight: bold;
    letter-spacing: 3px;
}
[class*="btn-outline"] {
    border-width: 3px;
    border-radius: 0;
    border-color: #3FAED0;
    color: #3FAED0;
}
[class*="btn-outline"]:hover,
[class*="btn-outline"]:active {
    border-color: #FF8100 !important;
    color: #ffffff !important;
    background-color: #FF8100 !important;
}
[class*="btn-outline"]:focus,
[class*="btn-outline"]:focus:active {
    box-shadow: none !important;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-right: 1px solid #A0A0A0;
}
.sidebar-sticky {
    height: 100%;
    position: sticky;
    overflow: hidden;
    /* overflow-y: auto; */
}
.menu-container {
    transform: rotate(-90deg);
    cursor: pointer;
}
.menu-text {
    font-size: 1.25rem;
    display: block;
    
    font-weight: bold;
    letter-spacing: 2px;
}
.menu-text + i {
    position: absolute;
    top: 25px;
    left: 47px;
    color: #A0A0A0;
    font-size: 1.88rem;
}
  .socials-container {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.social-link {
    font-size: 1.25rem;
    color: #9B9B9B;
    transition: color 0.15s ease-in-out;
}
.social-link:hover, .social-link:active {
    color: #41B3D6;
}
.advantage-block {
    border: 1px solid #A0A0A0;
    transition: background-color 0.15s ease-in-out;
}
.advantage-icon i {
    font-size: 3rem;
}
.advantage-header {
    font-size: 1.13rem;
    line-height: 1;
}
.advantage-text {
    font-size: 0.88rem;
    line-height: 1.4;
    margin-bottom: 0;
}
.advantage-block * {
    transition: color 0.15s ease-in-out;
}
.advantage-block:hover {
    background-color: #41B3D6;
    border-color: #41B3D6;
}
.advantage-block:hover * {
    color: #ffffff;
}
.tabs-left {
    border-bottom: none;
    border: none;
}
.tabs-left>li {
    float: none;
    display: flex;
}
.tabs-left>li:not(:last-child) {
    margin-bottom: 2rem;
}
/* .tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
    color: #ffffff;
} */
.tabs-left>li.active>a:not(.active) {
    background-color: transparent;
    color: #ffffff;
} 
.tabs-left>li.active>a {
    background-color: #ffffff;
    color: #FF8100;
}
.tabs-left>li>a.active,
.tabs-left>li>a.active:hover {
    background-color: #ffffff;
    color: #FF8100;
}
.tabs-left>li>a:hover {
    background-color: #ffffff;
    color: #41B3D6;
    text-decoration: none;
}
.tabs-left>li>a {
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50px;
    margin-right: 0;
    display: flex;
    height: 75px;
    width: 75px;
    transition: 0.15s ease-in-out;
}
.tabs-left i {
    font-size: 1.63rem;
}
.tab-image {
    background-image: url('img/tab_image-1.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}
.background-aqua {
    background-color: #41B3D6;
}
.partner-logo {
    height: 120px;
    border: 1px solid #a0a0a0;
    transition: all 0.15s ease-in-out;
}
.partner-logo svg {
    fill: #a0a0a0;
    transition: fill 0.15s ease-in-out;
    width: 50%;
}
.partner-logo:hover svg {
    fill: #ffffff;
}
.partner-logo:hover {
    border-color: #41B3D6;
    background-color: #41B3D6;
}
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}
.carousel-item-container:not(:first-child) .col-md-4::before {
    content: '';
    position: absolute;
    top: -17px;
    left: 50%;
    width: 1px;
    height: 24px;
    background-color: #9F9F9F;
}
#projects .section-heading::before {
    content: '';
    position: absolute;
    top: 22%;
    left: -10%;
    width: 34.5%;
    height: 1px;
    background-color: #9F9F9F;
}
#projects .section-heading::after {
    content: '';
    position: absolute;
    top: 22%;
    left: 24.4%;
    width: 1px;
    height: 12rem;
    background-color: #9F9F9F;
}
#projects > .row > [class*="col-md"]::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
#googlemap { 
    height: 100%; 
    width: 100%; 
    position:absolute; 
    top: 0; 
    left: 0; 
    z-index: 0;
}
#googlemap::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,19) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,19) 100%);
    background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,19) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
.contact-list {
    list-style-type: none;
    padding-inline-start: 50px;
}
.contact-list-item {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 30px;
    position: relative;
}
.contact-list-item a {
    color: #000000;
    transition: color 0.15s ease-in-out;
}
.contact-address::before,
.contact-phone::before,
.contact-mail::before {
    position: absolute;
    font-family: 'Material Icons';
    font-size: 1.88rem;
    color: #41B3D6;
    left: -50px;
}
.contact-address::before {
    content: 'near_me';
    top: 0;
}
.contact-phone::before {
    content: 'phone';
    top: -5px;
}
.contact-mail::before {
    content: 'alternate_email';
    top: -6px;
}
.contact-list-item a:hover {
    color: #41B3D6;
    text-decoration: none;
}
input[type="text"] {
    position: relative;
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    max-width: 260px;
    font-size: 1.13rem;
    padding: 17px 17px 17px 50px;
    margin-bottom: 30px;
}
input[type="submit"] {
    max-width: 260px;
    font-size: 1.13rem;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 17px;
    background-color: #FF8100;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
input[type="text"]:focus,
input[type="text"]:active {
    border-color: #FF8100;
}
.input-name {
    background-image: url('img/user-icon.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left 20px top 20px;
}
.input-mail {
    background-image: url('img/envelope-icon.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left 18px top 22px;
}

@media(min-width:768px) {
    .w-md-100 {
        height: 100%;
    }
}
